<div class="flex-container">
  <h1 class="col-12 left">My Dashboard</h1>
</div>

<div *ngIf="!route.firstChild" class="flex-container secondary-lighter-bg">
  <div class="left col-12">
    <p>Manage your account.</p>
  </div>
</div>
<div class="flex-container">
  <div class="row" *ngIf="!route.firstChild">
    <!--My Profile-->
    <anu-card class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
      <anu-card-title>
        <h2>My Profile</h2>
      </anu-card-title>
      <anu-card-body> Manage your profile. </anu-card-body>
      <anu-card-footer>
        <div class="row right">
          <a [routerLink]="['../profile']">Manage profile</a>
        </div>
      </anu-card-footer>
    </anu-card>

    <!--My Address-->
    <anu-card class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
      <anu-card-title>
        <h2>My Address</h2>
      </anu-card-title>
      <anu-card-body> Add and edit addresses for your orders. </anu-card-body>
      <anu-card-footer>
        <div class="row right">
          <a [routerLink]="['../addresses']">Manage addresses</a>
        </div>
      </anu-card-footer>
    </anu-card>

    <!--My Orders-->
    <anu-card class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
      <anu-card-title>
        <h2>My Orders</h2>
      </anu-card-title>
      <anu-card-body>Your Previous and current orders</anu-card-body>
      <anu-card-footer>
        <div class="row right">
          <a [routerLink]="['../orders']">Manage Orders</a>
        </div>
      </anu-card-footer>
    </anu-card>

    <!--My Wishlist-->
    <anu-card class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
      <anu-card-title>
        <h2>My Wishlist</h2>
      </anu-card-title>
      <anu-card-body> View your wishlist </anu-card-body>
      <anu-card-footer>
        <div class="row right">
          <a [routerLink]="['../wishlist']">View your Wishlist</a>
        </div>
      </anu-card-footer>
    </anu-card>

    <!--My Bag-->
    <anu-card class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
      <anu-card-title>
        <h2>My Bag</h2>
      </anu-card-title>
      <anu-card-body> View your bag / shopping cart </anu-card-body>
      <anu-card-footer>
        <div class="row right">
          <a [routerLink]="['../bag']">View your Bag</a>
        </div>
      </anu-card-footer>
    </anu-card>

    <div class="row" *ngIf="route.firstChild">
      <a [routerLink]="['./']">{{ '<< Back to dashboard' }}</a>
    </div>
  </div>

  <router-outlet #dashboardOutlet (activate)="onOutletActivated()"></router-outlet>
