rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  	match /sitemap.xml {
      // DEV: Only allow uploads of sitemap.xml
      allow write, create, delete: if request.auth.token.admin == true;
      allow read
    }
     match /ecommerce/images/{subFolder}/{img=**} {
      // DEV: Only allow uploads of sitemap.xml
      allow write, create, delete: if request.auth;
      allow read
    }
  }
}
