<div class="flex-container">
  <div class="profile-card container relative shadow spacing spacing-around-v">
    <anu-error
      *ngIf="error"
      [code]="error?.code"
      [message]="error?.message"
    ></anu-error>

    <anu-dynamic-form
      class="container"
      [params]="profileParams"
      [value]="profile"
      [loading]="loading"
      [saveBtnLabel]="'Update profile'"
      [cancelBtnLabel]="'Go back'"
      (cancelClicked)="onCancel($event)"
      (submitClicked)="onSubmit($event)"
      (actionBtnClicked)="onActionBtn($event)"
    >
    </anu-dynamic-form>

    <anu-spinner [show]="loading"></anu-spinner>
  </div>
</div>
