<div class="flex-container">
  <div class="profile-card shadow container" [formGroup]="fm">
    <!-- Display Name -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="displayName">Display Name</label>
        <div class="row nowrap">
          <input
            [ngClass]="{ 'readonly-mode': !editMode['displayName'] }"
            [readOnly]="!editMode['displayName']"
            id="displayName"
            type="text"
            formControlName="displayName"
            placeholder="Display Name"
          />
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="!editMode['displayName']"
            href="#"
            (click)="onEditClicked($event, 'displayName')"
            >edit</a
          >
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="editMode['displayName']"
            href="#"
            (click)="onSaveClicked($event, 'displayName')"
            >Save</a
          >
        </div>
        <anu-form-error
          *ngIf="
            displayName.invalid && (displayName.touched || displayName.dirty)
          "
          [errors]="displayName.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Email -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="email">Email</label>
        <div class="row nowrap">
          <input
            [ngClass]="{ 'readonly-mode': !editMode['email'] }"
            [readOnly]="!editMode['email']"
            id="email"
            type="text"
            formControlName="email"
            placeholder="Email"
          />
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="!editMode['email']"
            href="#"
            (click)="onEditClicked($event, 'email')"
            >edit</a
          >
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="editMode['email']"
            href="#"
            (click)="onSaveClicked($event, 'email')"
            >Save</a
          >
        </div>
        <anu-form-error
          *ngIf="email.invalid && (email.touched || email.dirty)"
          [errors]="email.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Phone Number -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="phoneNumber">Phone Number</label>
        <div class="row nowrap">
          <input
            [ngClass]="{ 'readonly-mode': !editMode['phoneNumber'] }"
            [readOnly]="!editMode['phoneNumber']"
            id="phoneNumber"
            type="text"
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="!editMode['phoneNumber']"
            href="#"
            (click)="onEditClicked($event, 'phoneNumber')"
            >edit</a
          >
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="editMode['phoneNumber']"
            href="#"
            (click)="onSaveClicked($event, 'phoneNumber')"
            >Save</a
          >
        </div>
        <anu-form-error
          *ngIf="
            phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)
          "
          [errors]="phoneNumber.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Profile Photo -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="photoUrl">Profile Photo</label>
        <div class="row nowrap">
          <input
            [ngClass]="{ 'readonly-mode': !editMode['photoUrl'] }"
            [readOnly]="!editMode['photoUrl']"
            id="photoUrl"
            type="text"
            formControlName="photoUrl"
            placeholder="Profile Photo"
          />
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="!editMode['photoUrl']"
            href="#"
            (click)="onEditClicked($event, 'photoUrl')"
            >edit</a
          >
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="editMode['photoUrl']"
            href="#"
            (click)="onSaveClicked($event, 'photoUrl')"
            >Save</a
          >
        </div>
        <anu-form-error
          *ngIf="photoUrl.invalid && (photoUrl.touched || photoUrl.dirty)"
          [errors]="photoUrl.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Gender -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="gender">Gender</label>
        <div class="row nowrap stretch">
          <div>
            <label [for]="gn.key" *ngFor="let gn of genderEnum | objectToArray">
              <input
                [ngClass]="{ 'readonly-mode': !editMode['gender'] }"
                [disabled]="!editMode['gender']"
                [id]="gn.key"
                [value]="gn.key"
                [checked]="gn.key === profile.gender"
                name="gender"
                type="radio"
                formControlName="gender"
              />
              {{ gn.value }}
            </label>
          </div>
          <div>
            <a
              class="primary-darkest spacing-around-h"
              *ngIf="!editMode['gender']"
              href="#"
              (click)="onEditClicked($event, 'gender')"
              >edit</a
            >
            <a
              class="primary-darkest spacing-around-h"
              *ngIf="editMode['gender']"
              href="#"
              (click)="onSaveClicked($event, 'gender')"
              >Save</a
            >
          </div>
        </div>
        <anu-form-error
          *ngIf="gender.invalid && (gender.touched || gender.dirty)"
          [errors]="gender.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Birth Date -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="dob">Birth Date</label>
        <div class="row nowrap stretch">
          <div>
            <input
              [ngClass]="{ 'readonly-mode': !editMode['dob'] }"
              [readOnly]="!editMode['dob']"
              id="dob"
              type="date"
              formControlName="dob"
              placeholder="Birth Date"
            />
          </div>
          <div>
            <a
              class="primary-darkest spacing-around-h"
              *ngIf="!editMode['dob']"
              href="#"
              (click)="onEditClicked($event, 'dob')"
              >edit</a
            >
            <a
              class="primary-darkest spacing-around-h"
              *ngIf="editMode['dob']"
              href="#"
              (click)="onSaveClicked($event, 'dob')"
              >Save</a
            >
          </div>
        </div>
        <anu-form-error
          *ngIf="dob.invalid && (dob.touched || dob.dirty)"
          [errors]="dob.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Bio -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="bio">Bio</label>
        <div class="row nowrap">
          <textarea
            [ngClass]="{ 'readonly-mode': !editMode['bio'] }"
            [readOnly]="!editMode['bio']"
            id="bio"
            type="text"
            formControlName="bio"
            placeholder="Profile summary of yourself"
            rows="3"
          >
          </textarea>
          <div>
            <a
              class="primary-darkest spacing-around-h"
              *ngIf="!editMode['bio']"
              href="#"
              (click)="onEditClicked($event, 'bio')"
              >edit</a
            >
            <a
              class="primary-darkest spacing-around-h"
              *ngIf="editMode['bio']"
              href="#"
              (click)="onSaveClicked($event, 'bio')"
              >Save</a
            >
          </div>
        </div>
        <anu-form-error
          *ngIf="bio.invalid && (bio.touched || bio.dirty)"
          [errors]="bio.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>

    <!-- Default Address -->
    <div class="row">
      <div class="spacing-around-v col-12 relative">
        <label for="defaultAddressId">Default Address</label>
        <div class="row nowrap">
          <input
            [ngClass]="{ 'readonly-mode': !editMode['defaultAddressId'] }"
            [readOnly]="!editMode['defaultAddressId']"
            id="defaultAddressId"
            type="text"
            formControlName="defaultAddressId"
            placeholder="Default Address"
          />
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="!editMode['defaultAddressId']"
            href="#"
            (click)="onEditClicked($event, 'defaultAddressId')"
            >edit</a
          >
          <a
            class="primary-darkest spacing-around-h"
            *ngIf="editMode['defaultAddressId']"
            href="#"
            (click)="onSaveClicked($event, 'defaultAddressId')"
            >Save</a
          >
        </div>
        <anu-form-error
          *ngIf="
            defaultAddressId.invalid &&
            (defaultAddressId.touched || defaultAddressId.dirty)
          "
          [errors]="defaultAddressId.errors"
          class="container"
        >
        </anu-form-error>
      </div>
    </div>
  </div>
</div>
