:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .profile-card {
    max-width: calc(var(--anu-site-width) / 2);
  }

  .readonly-mode {
    border: none;
    outline: none;
  }
}
