<div class="flex-container">
  <div class="container relative">
    <anu-error
      *ngIf="error"
      [code]="error?.code"
      [message]="error?.message"
    ></anu-error>
    <anu-address-list
      [value]="list"
      [enableSelect]="false"
      [defaultAddress]="defaultAddress"
      class="container spacing-half"
      (addClicked)="onAddClicked($event)"
      (editClicked)="onEditClicked($event)"
      (deleteClicked)="onDeleteClicked($event)"
      (addDeliveryInstructions)="onAddDeliveryInstructionsClicked($event)"
      (defaultClicked)="onDefaultClicked($event)"
    ></anu-address-list>
    <anu-spinner [show]="loading"></anu-spinner>
  </div>
</div>
